*{
  box-sizing: border-box;
}

.App {
 align-items: center;
}

body{
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}


.modal.show{
  border: 1px solid #ccc;
  padding: 1rem;
}
.modals{
  display: none;
  border: 0;
}
.color-box{
  width: 300px;
  height: 150px;
  /* display: block; */
}

